@use "./vh-measurements" as vhm;

.site {
	display: grid;
	grid-template-areas:
		"mainBoard ."
		"gameControls .";
	grid-template-rows: vhm.$main-board-area vhm.$game-controls-area-height;
	grid-template-columns: vhm.$main-board-area auto;
	grid-gap: vhm.$layout-indent;
	padding: vhm.$layout-indent;
}

.mainBoard {
	grid-area: mainBoard;
}

.gameControls {
	grid-area: gameControls;
}
