@use "sass:color";

$white: #fff;
$green: #0f7e02;
$brown-light: #ffce9f;
$brown-middle: #d08b47;
$brown-dark: #8d5822;
$gray-light: #e5e5e5;
$gray-middle: #acacac;
$black: #000;

$green-translucent: color.change($green, $alpha: 0.6);
