@use "./colors";

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-size: 14px;
	color: colors.$black;
	font-family: "Segoe UI", sans-serif;
}

body {
	background-color: colors.$white;
	overflow: hidden;
}

button {
	background: none;
	border: none;
	outline: none;

	&:hover {
		cursor: pointer;
	}

	&:disabled {
		cursor: not-allowed;
	}
}

dialog {
	border: none;
}

::-webkit-scrollbar-thumb {
	background: colors.$brown-middle;
}

::-webkit-scrollbar {
	$scrollbar-width: 7px;

	background: colors.$gray-light;

	&:horizontal {
		height: $scrollbar-width;
	}

	&:vertical {
		width: $scrollbar-width;
	}
}
