@use "./colors";
@use "./helpers";

.site {
	$controls-area-height: 30px;
	$board-area: calc(100vh - $controls-area-height);

	display: grid;
	grid-template-areas:
		"board sidebar"
		"controls .";
	grid-template-rows: $board-area $controls-area-height;
	grid-template-columns: $board-area auto;
}

.board {
	grid-area: board;
	margin: helpers.$layout-components-indent;
}

.controls {
	grid-area: controls;
	position: relative;
	margin: 0 helpers.$layout-components-indent;
}

.sidebar {
	grid-area: sidebar;
	margin: helpers.$layout-components-indent 0;
}
