@use "./helpers";
@use "../colors";

.chessman {
	display: flex;
	width: 100%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	aspect-ratio: 1;

	@include helpers.on-each-chessman using ($chessman) {
		&[data-style-chessman="#{$chessman}"] {
			background-image: url("./#{$chessman}.svg");
		}
	}

	&.underAttack {
		filter: drop-shadow(0 0 10px colors.$red);
	}
}
