@use "../colors";
@use "../vh-measurements" as vhm;

.dialog {
	display: flex;
	width: vhm.$main-board-area;
	top: unset;
	bottom: 0;
	left: vhm.$layout-indent;
	box-shadow: 0 0 1px 1px colors.$gray;
	border-radius: 3px;
	padding: vhm.$layout-indent;
	overflow-x: auto;
	opacity: 90%;
	z-index: 1;
}

.option {
	width: 10%;
	aspect-ratio: 1;
	cursor: pointer;
	flex-shrink: 0;

	&:hover {
		transform: scale(1.2);
	}
}
