@use "../colors";
@use "../helpers";

.list {
	display: flex;
	flex-wrap: wrap;
	list-style-position: inside;

	@include helpers.empty-state("Empty history");
}

.itemWrapper {
	display: flex;
	min-width: 90px;
	padding: 2px 0;
}

.item {
	display: flex;
	border-bottom: 1px dashed transparent;
	opacity: 0.6;

	&.current {
		border-bottom-color: colors.$black;
		opacity: 1;
		cursor: default;
	}

	&::before {
		display: list-item;
		content: "";
	}
}

.content {
	display: flex;
	align-items: center;
}

.chessman {
	width: 16px;
}
